html{
  min-height: 100%;
}

body{
  background:linear-gradient(-45deg,blue,yellow,gold,green,whitesmoke);
  width:100%;
  color: navy;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;

}

a {
  color:navy;
  text-shadow: 1.5px 1.5px green;

}

a.navbar-brand {
  margin-left: 0.1em;
}

#images {
  margin-top: 1em;
}

img {
  margin: 0.5em;
  max-width: 18em;
}

a#next-page {
  visibility: hidden;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
